<!-- main_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LOGIN</title>
</head>
<body>

    {% include 'LoginPage/NavBar.html' %}  <!-- includes navbar -->

    {% block content %}
    
    
    
    {% endblock %}

</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>Welcome to the Home Page!</h2>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>